<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drumbeat.testapplication">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService" />

        <activity
            android:name=".DialogActivity"
            android:theme="@style/DialogStyle" />

        <activity android:name=".RoomActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"

            android:exported="true">

            <intent-filter>

                <action android:name="startService" />
            </intent-filter>
        </receiver>

        <!--        &lt;!&ndash; push receiver &ndash;&gt;-->
        <!--        <receiver android:name=".PushReceiver">-->
        <!--            <intent-filter>-->
        <!--                &lt;!&ndash; 手机开机 &ndash;&gt;-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED"></action>-->
        <!--                &lt;!&ndash; 手机唤醒解锁 &ndash;&gt;-->
        <!--                <action android:name="android.intent.action.USER_PRESENT" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                &lt;!&ndash; 程序包安装与卸载 &ndash;&gt;-->
        <!--                <action android:name="android.intent.action.PACKAGE_ADDED"></action>-->
        <!--                <action android:name="android.intent.action.PACKAGE_REMOVED"></action>-->
        <!--                <data android:scheme="package"></data>-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
    </application>

</manifest>